<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.powernode.workbench.mapper.TblTranRemarkMapper" >
  <resultMap id="BaseResultMap" type="com.powernode.workbench.pojo.TblTranRemark" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="noteContent" property="notecontent" jdbcType="VARCHAR" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="CHAR" />
    <result column="editBy" property="editby" jdbcType="VARCHAR" />
    <result column="editTime" property="edittime" jdbcType="CHAR" />
    <result column="editFlag" property="editflag" jdbcType="CHAR" />
    <result column="tranId" property="tranid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, noteContent, createBy, createTime, editBy, editTime, editFlag, tranId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.powernode.workbench.pojo.TblTranRemarkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_tran_remark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_tran_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_tran_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.powernode.workbench.pojo.TblTranRemarkExample" >
    delete from tbl_tran_remark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.powernode.workbench.pojo.TblTranRemark" >
    insert into tbl_tran_remark (id, noteContent, createBy, 
      createTime, editBy, editTime, 
      editFlag, tranId)
    values (#{id,jdbcType=CHAR}, #{notecontent,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=CHAR}, #{editby,jdbcType=VARCHAR}, #{edittime,jdbcType=CHAR}, 
      #{editflag,jdbcType=CHAR}, #{tranid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.powernode.workbench.pojo.TblTranRemark" >
    insert into tbl_tran_remark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="notecontent != null" >
        noteContent,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="editby != null" >
        editBy,
      </if>
      <if test="edittime != null" >
        editTime,
      </if>
      <if test="editflag != null" >
        editFlag,
      </if>
      <if test="tranid != null" >
        tranId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="notecontent != null" >
        #{notecontent,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=CHAR},
      </if>
      <if test="editby != null" >
        #{editby,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=CHAR},
      </if>
      <if test="editflag != null" >
        #{editflag,jdbcType=CHAR},
      </if>
      <if test="tranid != null" >
        #{tranid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.powernode.workbench.pojo.TblTranRemarkExample" resultType="java.lang.Integer" >
    select count(*) from tbl_tran_remark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_tran_remark
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.notecontent != null" >
        noteContent = #{record.notecontent,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null" >
        createBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=CHAR},
      </if>
      <if test="record.editby != null" >
        editBy = #{record.editby,jdbcType=VARCHAR},
      </if>
      <if test="record.edittime != null" >
        editTime = #{record.edittime,jdbcType=CHAR},
      </if>
      <if test="record.editflag != null" >
        editFlag = #{record.editflag,jdbcType=CHAR},
      </if>
      <if test="record.tranid != null" >
        tranId = #{record.tranid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_tran_remark
    set id = #{record.id,jdbcType=CHAR},
      noteContent = #{record.notecontent,jdbcType=VARCHAR},
      createBy = #{record.createby,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=CHAR},
      editBy = #{record.editby,jdbcType=VARCHAR},
      editTime = #{record.edittime,jdbcType=CHAR},
      editFlag = #{record.editflag,jdbcType=CHAR},
      tranId = #{record.tranid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.powernode.workbench.pojo.TblTranRemark" >
    update tbl_tran_remark
    <set >
      <if test="notecontent != null" >
        noteContent = #{notecontent,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=CHAR},
      </if>
      <if test="editby != null" >
        editBy = #{editby,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        editTime = #{edittime,jdbcType=CHAR},
      </if>
      <if test="editflag != null" >
        editFlag = #{editflag,jdbcType=CHAR},
      </if>
      <if test="tranid != null" >
        tranId = #{tranid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.powernode.workbench.pojo.TblTranRemark" >
    update tbl_tran_remark
    set noteContent = #{notecontent,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=CHAR},
      editBy = #{editby,jdbcType=VARCHAR},
      editTime = #{edittime,jdbcType=CHAR},
      editFlag = #{editflag,jdbcType=CHAR},
      tranId = #{tranid,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>